<!doctype html>
<html ng-app="parking">
    <head>
        <title>Parking</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <style type="text/css">
              .selected {
                background-color: #FAFAD2;
              }
        </style>
    </head>
    <body ng-controller="parkingCtrl">
        <h3>Pack Parking</h3>
        <input type="text" ng-model="car.plate"/>
        <select ng-model="car.color" ng-options="color for color in colors">Pick a color</select>
        <button ng-click="park(car)" ng-disabled="!car.plate || !car.color">Park</button>
        <div ng-show="cars.length > 0">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Plate</th>
                        <th>Color</th>
                        <th>Entrance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in cars" ng-class="{selected: car.selected}">
                        <td><input type="checkbox" ng-model="car.selected"/></td>
                        <td ng-class-even="'even'" ng-class-odd="'odd'">{{car.plate}}</td>
                        <td><span ng-bind="car.color" ng-style="{color: car.color}"></span></td>
                        <td>{{car.entrance}}</td>
                        <td><button ng-click="remove(car)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="cars.length > 0">
            The parking lot is empty
        </div>
    </body>
</html>